name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {index = "pypi",version = "==5.4.3"}
cython = {index = "pypi",version = "==0.29.20"}

[packages]
cython = {index = "pypi",version = "==0.29.20"}

[requires]
python_version = "3.8"
